<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">Chat Application</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <!-- <form class="navbar-form navbar-right" action="/">
          <button type="submit" class="btn btn-success">Login</button>
        </form>

        <form class="navbar-form navbar-right" action="/signup">
          <button type="submit" class="btn btn-success">Sign Up</button>
        </form> -->
        <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right" id="reload">

              <li>
                  <%- include ('../partials/message') %>
                </li>

              <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon fa fa-user-plus nav-glyphicon"></span>
                    <% if(data.totalRequest > 0) {%>
                      <span class="label label-primary nav-label-icon"><%= data.totalRequest %></span>
                    <% } else { %>
                      <span class="label label-primary nav-label-icon" style="display:none"></span>
                      <% } %>
                  </a>
                
                  <ul class="dropdown-menu">
                    <li>
                      <div class="navbar-login" id="requestBar">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="dropdown-tag">
                              <h3 class="text-center dropdown-tag-head" >
                                Friend Requests
                              </h3>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-md-12">
                            <% if(data.totalRequest > 0) {%>
                              <% _.forEach(data.request, function(val){ %>
                          <div class="row">
                            <div class="col-md-3">
                              <p class="text-center">
                                <img src="https://realtime-chatapp.s3.us-east-2.amazonaws.com/<%= val.userId.userImage %>" width="40px" class="img-circle img-responsive dropdown-img" />
                              </p>
                            </div>
                            <div class="col-md-9 pleft-0">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="col-md-12">
                                    <p class="text-left">
                                      Name: <strong id=""><%= val.username %></strong>
                                    </p>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="row">
                                      <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="hidden" name="senderId" id="senderId" value="<%= val.userId._id %>">
                                        <input type="hidden" name="senderName" id="senderName" value="<%= val.username %>">
                                        <button type="submit" name="accept" id="accept_friend" class="btn btn-success drop-accept accept"><i class="fa fa-check" aria-hidden="true"></i> Accept</button>
                                      </div>

                                      <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="hidden" name="user_Id" id="user_Id" value="<%= val.userId._id %>">
                                        <button type="submit" name="cancel" class="btn btn-danger drop-cancel remove" id="cancel_friend">
                                        <i class="fa fa-times" aria-hidden="true"></i> Remove
                                        </button>
                                      </div>

                                    </div>
                                  </div>
                
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr />
                          <% }) %>
                          <% } else { %>
                            <h4 class="text-center"><i class="fa fa-user-plus"></i> No Requests</h4>
                            <% } %>
                        </div>
                      </div>
                    </li>
                    
                  </ul>
                </li>

                


            <li><a href="/get/members"><i class="fa fa-users"></i> Registered Users</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="https://realtime-chatapp.s3.us-east-2.amazonaws.com/<%= user.userImage %>" width="18" class="img-circle" alt=""> <%= user.username %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/set/profile"><i class="fa fa-user-circle"></i> View Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout"><span class="fa fa-power-off" style="color:red"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>