<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Realtime ChatApp</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/myprofile.css">

  </head>

  <body>
        <%- include ('../partials/navbar') %>
    <div class="container">  
         <div class="col-md-12">
                <input type="hidden" value="<%= user.username %>" id="name-user">
                <input type="hidden" value="<%= user.userImage %>" id="name-user">
            <div class="view-account" style="margin-top:65px">
                <section class="module">
                    <div class="module-inner">
                        <div class="side-bar">
                            <div class="user-info">
                                <img class="img-profile img-circle img-thumbnail img-responsive center-block" id="show_img" src="https://realtime-chatapp.s3.us-east-2.amazonaws.com/<%= user.userImage %>" alt="">
                                <ul class="meta list list-unstyled">
                                    <li class="name"><%= user.fullname %> <br>
                                        <label class="label label-info">@<%= user.username %></label>
                                    </li>
                                    <li class="email"><%= user.email %></li>
                                    <li class="activity">Last logged in: Today at 2:18pm</li>
                                </ul>
                            </div>
                            <nav class="side-menu">
                                <ul class="nav">
                                    <li><a href="/set/my-profile/<%= user.username %>"><span class="fa fa-user"></span> Profile</a></li>
                                    <li><a href="/set/profile"><span class="fa fa-edit"></span> Edit My Profile</a></li>
                                    <li class="active"><a href="/set/settings"><span class="fa fa-cog"></span> Settings</a></li>
                                    <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>
                                   
                                </ul>
                            </nav>
                        </div>

                        <div class="content-panel">
                            <h2 class="title">Account<span class="pro-label label label-warning">Settings</span></h2>
                            
                            <div class="col-md-12" contenteditable="false">
                                    <h3>Account Deactivation</h3>
                                    <a href="#myModal" class="trigger-btn" data-toggle="modal" style="text-decoration: none;">Deactivate My Account Now!</a>
                            </div>
                            
                            <div class="col-md-12" contenteditable="false">
                                <h3>Account Settings</h3>
                                <a href="#myModal2" class="trigger-btn" data-toggle="modal" style="text-decoration: none;">Change Password</a>
                            </div>
                            
                            </div>
                           
                        </div>
                    </section>
                    </div>
                
            </div>

                <!-- Modal HTML -->
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="icon-box">
                                    <i class="fa fa-remove"></i>
                                </div>				
                                <h4 class="modal-title">Are You Sure?</h4>	
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to delete your account? This process cannot be undone once you click the confirmation button.</p>
                            </div>
                            <div class="modal-footer">
                            <form action="/settings/deactivate-account" method="POST">
                                <a href="/set/settings"><button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button></a> 
                               <button type="submit" class="btn btn-danger" onclick="deactivate()">Delete</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModal2" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="icon-box">
                                    <i class="fa fa-key"></i>
                                </div>				
                                <h4 class="modal-title">Change Password</h4>	
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12">
                                    <label for="asd">SECURTY QUESTION-Injected from user's database</label>
                                    <form method="POST" action="/user/<%= user.username %>/change-password" id="passwordForm">
                                    <input type="text" class="input form-control" name="sec-ques-ans" id="sec-ques-ans" placeholder="Your Security Answer" autocomplete="off">
                                    <br>
                                    <input type="password" class="input form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                                    <div class="row">
                                    <div class="col-md-6">
                                    <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Char Long<br>
                                    <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase
                                    </div>
                                    <div class="col-md-6">
                                    <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase<br>
                                    <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                                    </div>
                                    </div>
                                    <input type="password" class="input form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                                    <div class="row">
                                    <div class="col-md-12">
                                    <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                                    </div>
                                    </div>
                                    <br>
                                    <input type="submit" class="col-xs-12 btn btn-warning btn-load" data-loading-text="Changing Password..." value="Proceed">
                                    </form>
                                    </div><!--/col-sm-6-->
                            </div>
                            <div class="modal-footer">
                            
                            </div>
                        </div>
                    </div>
                </div>
            


        </div>

    <!-- End of Container -->
         </div>
         
      <hr>
      <footer>
        <p style="color:black" class="text-center">&copy; 2020 Developed By Naseeb Bajracharya</p>
      </footer>
     
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/msglink.js"></script>
    <script src="/js/group/sendrequest.js"></script> 
    <script src="/js/user/profile.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/myparam.js"></script> 
</body>
</html>

<script>
    function deactivate(){
        alert('You will be redirected to login page shortly!')
    }

    $("input[type=password]").keyup(function(){
    var ucase = new RegExp("[A-Z]+");
	var lcase = new RegExp("[a-z]+");
	var num = new RegExp("[0-9]+");
	
	if($("#password1").val().length >= 8){
		$("#8char").removeClass("glyphicon-remove");
		$("#8char").addClass("glyphicon-ok");
		$("#8char").css("color","#00A41E");
	}else{
		$("#8char").removeClass("glyphicon-ok");
		$("#8char").addClass("glyphicon-remove");
		$("#8char").css("color","#FF0004");
	}
	
	if(ucase.test($("#password1").val())){
		$("#ucase").removeClass("glyphicon-remove");
		$("#ucase").addClass("glyphicon-ok");
		$("#ucase").css("color","#00A41E");
	}else{
		$("#ucase").removeClass("glyphicon-ok");
		$("#ucase").addClass("glyphicon-remove");
		$("#ucase").css("color","#FF0004");
	}
	
	if(lcase.test($("#password1").val())){
		$("#lcase").removeClass("glyphicon-remove");
		$("#lcase").addClass("glyphicon-ok");
		$("#lcase").css("color","#00A41E");
	}else{
		$("#lcase").removeClass("glyphicon-ok");
		$("#lcase").addClass("glyphicon-remove");
		$("#lcase").css("color","#FF0004");
	}
	
	if(num.test($("#password1").val())){
		$("#num").removeClass("glyphicon-remove");
		$("#num").addClass("glyphicon-ok");
		$("#num").css("color","#00A41E");
	}else{
		$("#num").removeClass("glyphicon-ok");
		$("#num").addClass("glyphicon-remove");
		$("#num").css("color","#FF0004");
	}
	
	if($("#password1").val() == $("#password2").val()){
		$("#pwmatch").removeClass("glyphicon-remove");
		$("#pwmatch").addClass("glyphicon-ok");
		$("#pwmatch").css("color","#00A41E");
	}else{
		$("#pwmatch").removeClass("glyphicon-ok");
		$("#pwmatch").addClass("glyphicon-remove");
		$("#pwmatch").css("color","#FF0004");
	}
});
</script>



