<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Realtime ChatApp</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/myprofile.css">

  </head>

  <body>
        <%- include ('../partials/navbar') %>
    <div class="container">  
         <div class="col-md-12">
                <input type="hidden" value="<%= user.username %>" id="name-user">
                <input type="hidden" value="<%= user.userImage %>" id="name-user">
            <div class="view-account" style="margin-top:65px"
                <section class="module">
                    <div class="module-inner">
                        <div class="side-bar">
                            <div class="user-info">
                                <img class="img-profile img-circle img-thumbnail img-responsive center-block" id="show_img" src="https://realtime-chatapp.s3.us-east-2.amazonaws.com/<%= data.userImage %>" alt="">
                                <ul class="meta list list-unstyled">
                                    <li class="name"><%= data.fullname %> <br>
                                        <label class="label label-info">@<%= data.username %></label>
                                    </li>
                                    <li class="email"><%= data.email %></li>
                                    <li class="activity">Last logged in: Today at 2:18pm</li>
                                </ul>
                            </div>
                            <nav class="side-menu">
                                <ul class="nav">
                                    <li class="active"><a href="/set/my-profile/<%= user.username %>"><span class="fa fa-user"></span> Profile</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="content-panel">
                            <h2 class="title">Profile<span class="pro-label label label-warning">My Profile Overview</span></h2>
                            
                            <div class="col-md-12" contenteditable="false">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><%= data.username %>'s Bio</div>
                                        <div class="panel-body"> <%= data.bio %>
                        
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                            <div class="panel-heading">Profile Overview</div>
                                            <div class="panel-body">
                                                
                                                <div class="col-md-3">
                                                        <div class="thumbnail">
                                                            <div class="caption">
                                                                <h3 class="text-center">
                                                                    Fullname
                                                                </h3>
                                                                <p class="text-center">
                                                                    <%= data.fullname %>
                                                                </p>
                                                                <p>
                                                                
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                            <div class="thumbnail">
                                                                <div class="caption">
                                                                    <h3 class="text-center">
                                                                        Username
                                                                    </h3>
                                                                    <p class="text-center">
                                                                       <em> @<%= data.username %> </em>
                                                                    </p>
                                                                    <p>
                                                                    
                                                                    </p>
                                                                </div>
                                                            </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                            <div class="thumbnail">
                                                                <div class="caption">
                                                                    <h3 class="text-center">
                                                                        Country
                                                                    </h3>
                                                                    <p class="text-center">
                                                                        <%= data.country %>
                                                                    </p>
                                                                    <p>
                                                                    
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                                <div class="thumbnail">
                                                                    <div class="caption">
                                                                        <h3 class="text-center">
                                                                            Gender
                                                                        </h3>
                                                                        <p class="text-center">
                                                                            <%= data.gender %>
                                                                        </p>
                                                                        <p>
                                                                        
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                            
                                                </div>
                                        </div>
                                    <div class="panel panel-default">
                                            <div class="panel-heading"><%= data.username %>'s Email</div>
                                            <div class="panel-body"> <i class="fa fa-envelope"></i> <%= data.email %>
                            
                                            </div>
                                        </div>
                                    <div class="panel panel-default target">
                                        <div class="panel-heading" contenteditable="false">Contact Details</div>
                                        <div class="panel-body">
                                          <div class="row">
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" width="100" src="/img/GitHub-Mark.png">
                                                <div class="caption">
                                                    <h3>
                                                        Github Account
                                                    </h3>
                                                    <p>
                                                        /<%= data.github %>
                                                    </p>
                                                    <p>
                                                    
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" width="100" src="/img/twitter.png">
                                                <div class="caption">
                                                    <h3>
                                                        Twitter Account
                                                    </h3>
                                                    <p>
                                                        @<%= data.twitter %>
                                                    </p>
                                                    <p>
                                                    
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img alt="300x200" width="100px" src="/img/call.png">
                                                <div class="caption">
                                                    <h3>
                                                        Cell Number
                                                    </h3>
                                                    <p>
                                                        +977-<%= data.cnumber %>
                                                    </p>
                                                    <p>
                                                    
                                                    </p>
                                                </div>
                                        </div>
                                    </div>
                                             
                                    </div>
                                         
                                </div>
                                      
                            </div>
                                   </div>
                           
                        </div>
                    </div>
                </section>
            </div>
             </div>
         </div>
         
      <hr>
      <footer>
        <p style="color:black" class="text-center">&copy; 2020 Developed By Naseeb Bajracharya</p>
      </footer>
     
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/msglink.js"></script>
    <script src="/js/group/sendrequest.js"></script> 
    <script src="/js/user/profile.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/myparam.js"></script> 
</body>
</html>



