<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/css/group.css">
    <title>Realtime ChatApp</title>

  </head>

  <body>

    <%- include ('../partials/navbar') %>
   

    <div class="container">
            <div class="col-md-12">

                <input type="hidden" id="name-user" value="<%= user.username %>">
                <input type="hidden" id="name-user" value="<%= user.userImage %>">

                    <div class="col-md-12">
                        <div class="chat_container" >
                            <div class="row">
  
                                <div class="col-sm-12 col-md-9 message_section">
                                    <div class="row" style="margin-top:65px;">
                                        <div class="new_message_head">
                                            <div class="text-center">
                                            <button id="receiver_name">
                                             
                                            </button>
                                            </div>
                                            <div class="pull-right">
                                            </div>
                                        </div>
            
                                        <div class="chat_area">
                                            <ul id="messages" class="list-unstyled">
                                                <% if(chats.length > 0) {%>
                                                <% _.forEach(chats, function(val) { %>
                                                    <% if(name === val.receiver.username) { %>
                                                <li class="left">
                                                    <span class="chat-img1 pull-left">
                                                        <img src="http://placehold.it/300x300" class="img-thumbnail" alt="">
                                                    </span>
                                                    <div class="chat-body1">
                                                        <span class="chat-name">
                                                            <%= val.senderName %>
                                                        </span>
                                                        <br>
                                                        <%= val.message %>
                                                    </div>
                                                </li>
                                                <% } else if(name === val.sender.username) { %>
                                                    <li class="left">
                                                            <span class="chat-img1 pull-left">
                                                                <img src="http://placehold.it/300x300" class="img-thumbnail" alt="">
                                                            </span>
                                                            <div class="chat-body1">
                                                                <span class="chat-name">
                                                                    <%= val.senderName %>
                                                                </span>
                                                                <br>
                                                                <%= val.message %>
                                                            </div>
                                                        </li>
                                                <% } %>
                                                <% }) %>
                                                <% } %>
                                            </ul>

                                            

                                            <script id="message-template" type="text/template">
                                                <li class="left">
                                                    <span class="chat-img1 pull-left">
                                                        <img src="http://placehold.it/300x300" class="img-thumbnail" alt="">
                                                    </span>
                                                    <div class="chat-body1">
                                                        <span class="chat-name">
                                                            {{sender}}
                                                        </span>
                                                        <br>
                                                        {{text}}
                                                    </div>
                                                </li>
                                            </script>
                                        </div>
            
                                        <div class="message_write">
                                          <form id="message_form" method="post">
                                            

                                              <textarea class="form-control" name="message" id="msg" placeholder="Type your message"></textarea>
                                              <div class="clearfix"></div>
                                              <div class="chat_bottom">
                                                  <button id="send-message" class="pull-right btn btn-success">
                                                      Send
                                                  </button>
                                              </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="col-sm-3 col-md-3 mob-50 mob-clearfix" style="margin-top:65px;">
            
            
                                    <div class="new_message_head">
                                        <div class="text-center">
                                            <button class="group_m">
                                                <i class="fa fa-users" aria-hidden="true" style="padding-right:15px;"></i>
                                                Online Friends <span id="numOfFriends"></span>
                                            </button>
                                        </div>
                                    </div>
            
            
            
                                    <div class="gr-rightsidebar-pvchat">
                                        <div class="content main-scroll">
                                            <div class="main" id="main_scroll">
                                                
                                                <% if(data.friendsList.length > 0) { %>
                                                    <% _.forEach(data.friendsList, function(value) { %>
                                                        <div class="friend" hidden>@<%= value.friendName %></div>
                                                    <% }) %>
                                                <% } %>
                                                <div class="onlineFriends"></div>

                                            </div>

                                        </div>
                                      
            
                                    </div>
                                </div>
            
                            </div>
            
                        </div>
            
                    </div>
                </div>  
      <hr>

      <footer>
        <p>&copy; 2020 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/privatemsg/private.js"></script>
    <script src="/js/group/sendrequest.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/myparam.js"></script>
    <script src="/js/msglink.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
  </body>
</html>



